*.class
*.log
*.txt
*.class
*.jar
.metals
metals.*
scala-cli.json
.scala-build
.dsp
*.mov
*.mp4
.vscode
.idea
footage
tanuki-linux-x86_64
tanuki
tanuki-native
*.zip
*.7z
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
